@page
@model View.Pages.User.CustomerModel
@{
}
<a asp-page="/BorrowRequest" type="button" class="btn btn-outline-primary">My Borrow Requests</a>
<a asp-page="/BorrowRequest/Create" type="button" class="btn btn-outline-primary">Create Borrow Request</a>



