@page
@model View.Pages.User.EmployeeModel
@{
}
<a asp-page="/BorrowAllocation/RequestListForAllocation" type="button" class="btn btn-outline-primary"> Borrow Request confirmation</a>
<a asp-page="/BorrowAllocation/Index" type="button" class="btn btn-outline-primary"> Borrow allocations</a>





